.photo_item {
    max-width: 100%;
}
.photos {
    margin-top: 50px;
}
.photo_item {
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.photo_item img {
    max-height: 220px;
    object-fit: contain;
}
form.mediaForm {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}